exportPattern("^[[:alpha:]]+")
import("Matrix")
import("Formula")
importFrom("stats","coef","vcov","delete.response","integrate","lm","model.frame",
           "model.matrix","model.response","pchisq","pf","predict",
           "pnorm","printCoefmat","pt","qf","qnorm","qt","resid","residuals",
           "terms","uniroot", "cor", "na.exclude", "na.fail", "na.omit", "na.pass", "var")
export(condPvalue, invTwobyTwoSymMatrix, quadSolver, KClass, LIML,Fuller,CLR,AR.test,AR.power,AR.size,ARsens.test,
       ARsens.power, ARsens.size, qrrank, qrRM, ivmodel, ivmodelFormula, coef.ivmodel, para, summary.ivmodel, confint.ivmodel, residuals.ivmodel, resid.ivmodel,print.ivmodel,
fitted.ivmodel,vcov.ivmodel,model.matrix.ivmodel,TSLS.power, TSLS.size, IVpower, IVsize, coefOther,vcovOther)


S3method("coef","ivmodel")
S3method("confint","ivmodel")
S3method("summary","ivmodel")
S3method("residuals","ivmodel")
S3method("resid","ivmodel")
S3method("vcov","ivmodel")
S3method("fitted","ivmodel")
S3method("print","ivmodel")
S3method("model.matrix","ivmodel")

export(iv.diagnosis)
export(iv.diagnosis.plot)
import(ggplot2)
import(reshape2)
importFrom(stats,fisher.test)
importFrom(stats,glm)