exportPattern("^[[:alpha:]]+")
import("Matrix")
import("Formula")
importFrom("stats","coef","delete.response","integrate","lm","model.frame",
           "model.matrix","model.response","pchisq","pf",
           "pnorm","printCoefmat","pt","qf","qnorm","qt","resid","residuals",
           "terms","uniroot")
export(condPvalue, invTwobyTwoSymMatrix, quadSolver, KClass, LIML,Fuller,CLR,AR.test,AR.power,AR.size,ARsens.test,
       ARsens.power, ARsens.size, qrrank, qrRM, ivmodel, ivmodelFormula, coef.ivmodel, para, summary.ivmodel, confint.ivmodel, residuals.ivmodel, resid.ivmodel,print.ivmodel,
fitted.ivmodel,TSLS.power, TSLS.size)


S3method("coef","ivmodel")
S3method("confint","ivmodel")
S3method("summary","ivmodel")
S3method("residuals","ivmodel")
S3method("resid","ivmodel")
S3method("fitted","ivmodel")
S3method("print","ivmodel")